body{
    background-image: url("../images/traintrack.jpg");
    background-size: 100%;
    
}
th, td {
    font-family: 'IBM Plex Mono', monospace;
    color: black;

}
h1, h3, p{
    font-family: 'Crete Round', serif;
    color: black;

}
form{
    background: white;
    opacity: .9;
}
label{
    font-family: 'Source Code Pro', monospace;
    color: black;

}
h4{
    color: white;
    size: 25px;
    font-weight: 400;
    font-family: 'Source Code Pro', monospace;

}